<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings-->
    <property name="connection.url">jdbc:mysql://localhost:3306/quiz-app</property>
    <property name="connection.username">root</property>
    <property name="connection.password">toor</property>

    <!-- SQL Dialect-->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="hibernate.show_sql">true</property>

    <property name="hibernate.format_sql">true</property>

    <mapping class="ba.fet.rwa.models.User" />
    <mapping class="ba.fet.rwa.models.Quiz" />
    <mapping class="ba.fet.rwa.models.Question" />
    <mapping class="ba.fet.rwa.models.Answer" />

  </session-factory>
</hibernate-configuration>